body{
    background-color:bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color:rgb(113, 26, 147);text-align: center;
}
h2 {
    color: rgb(44, 9, 79);
}
p {
    color:rgb(141, 18, 110);
}
