body{
    background-color:bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color:blueviolet;text-align: center;
}
h2 {
    color: rebeccapurple;
}
p {
    color:blueviolet;
}